#mySlider.carousel.slide(data-bs-ride="carousel").mb-3
        .carousel-inner
            .carousel-item.active
                img(src="/img/slider1.jpg").d-block.img-fluid

            .carousel-item
                img(src="/img/slider2.jpg").d-block.img-fluid
                
            .carousel-item
                img(src="/img/slider3.jpg").d-block.img-fluid    

        button(type="button" data-bs-target="#mySlider" data-bs-slide="prev").carousel-control-prev
            span(aria-hidden="true").carousel-control-prev-icon
        
        button(type="button" data-bs-target="#mySlider" data-bs-slide="next").carousel-control-next
            span(aria-hidden="true").carousel-control-next-icon
        
        .carousel-indicators
            button(type="button" data-bs-target="#mySlider" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1").active
            button(type="button" data-bs-target="#mySlider" data-bs-slide-to="1"
                aria-label="Slide 2")
            button(type="button" data-bs-target="#mySlider" data-bs-slide-to="2"
                aria-label="Slide 3")