extends ../layouts/main-layout.pug

block content
        if errorMessage 
            div.alert.alert-danger.col-sm-8 #{errorMessage};
        form(action="/reset-password" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .form-group.row
                label(for="email").col-sm-2.col-form-label Email:
                .col-sm-6.my-2
                    input(type="text" name="email").form-control#Email

            .form-group.row
                .col-sm-6.my-2
                    input(type="submit" value="Şifreni Sıfırla").btn.btn-danger.mt-2